.over-lay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  transform: scale(1);
  transition: all 150ms ease;
}

.show {
  visibility: visible;
  opacity: 1;
}
